{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_pdfannotator/comment
    Template which displays a comment.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Example context (json):
    {
      "comments": [
        {
          "userid": "103",
          "visibility": "public",
          "isquestion": true,
          "annotationid": 1,
          "annotation": 1,
          "timecreated": "58 minutes ago",
          "isdeleted": false,
          "uuid": "1",
          "ishidden": 0,
          "content": "Comment",
          "username": "me",
          "solved": false,
          "votes": "0",
          "isvoted": false,
          "usevotes": true,
          "issubscribed": true,
          "buttons": [
            {
              "classes": "comment-solve-a",
              "faicon": {
                "class": "fa-lock"
              },
              "text": "Close question"
            },
            {
              "classes": "comment-edit-a",
              "attributes": {
                "name": "id",
                "value": "editButton1"
              },
              "moodleicon": {
                "key": "i/edit",
                "component": "core",
                "title": "Edit"
              },
              "text": "Edit"
            },
            {
              "classes": "comment-delete-a",
              "text": "Delete",
              "moodleicon": {
                "key": "delete",
                "component": "pdfannotator",
                "title": "Delete"
              }
            },
            {
              "classes": "comment-subscribe-a",
              "faicon": {
                "class": "fa-bell-slash"
              },
              "text": "Unsubscribe"
            }
          ],
          "owner": true,
          "private": false,
          "protected": false,
          "wrapperClass": "chat-message comment-list-item questioncomment owner usevotes",
          "voteBtn": "own comment",
          "voteTitle": "0 persons are also interested in this question",
          "modifiedby": null,
          "dropdown": true
        }
      ]
    }
}}
{{#comments }}
    <div class="{{ wrapperClass }} {{dimmed}}" id="comment_{{ uuid }}">

        <div class="wrappervotessolved">
            <div class="solved">{{#solvedicon}} <i class="{{classes}}" title="{{title}}"></i> {{/solvedicon}}</div>
            <button class="comment-like-a btn-link" title="{{ voteBtn }}" alt="{{ voteBtn }}">
                <i class="icon fa fa-thumbs-up fa-fw" title="{{ voteBtn }}" alt="{{ voteBtn }}"></i>
            </button>
            {{^ isdeleted }} {{# usevotes }}
                <div class="countVotes" title="{{ voteTitle }}"> {{{ votes }}} </div>
            {{/ usevotes }} {{/ isdeleted }}
        </div>
 
        <div class="chat-message-container">

            <div class="chat-message-meta">
                {{# dropdown }}
                    <div class="dropdown">          
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i title="{{# str }} actiondropdown, pdfannotator {{/ str }}" class="icon fa fa-cog fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {{# report }}
                                <span class="comment-report-button">
                                    <form action="view.php" method="POST">
                                        <input type="hidden" name="coursemodule" value="{{ cm }}">
                                        <input type="hidden" name="commentid" value="{{ uuid }}">
                                        <input type="hidden" name="action" value="report">
                                        <input type="hidden" name="id" value="{{ cmid }}">
                                            <button class="dropdown-item comment-report-a" title="{{# str }} toreport, pdfannotator {{/ str }}">
                                                {{# pix }}flagged,pdfannotator, {{# str }} toreport, pdfannotator {{/ str }} {{/ pix}} {{# str }} toreport, pdfannotator {{/ str }}                                     
                                            </button>
                                    </form>
                                </span>
                            {{/ report }}
                            {{#buttons}}
                                    <button class="dropdown-item {{classes}}" type=button {{#attributes}} {{name}}="{{&value}}"{{/attributes}}>
                                        {{#moodleicon}} {{#pix}} {{key}},{{component}},{{title}} {{/pix}} {{/moodleicon}}
                                        {{#faicon}} <i class=" icon fa {{class}} fa-fw"></i> {{/faicon}}
                                        <span class="menu-action-text">
                                            {{text}}
                                        </span>
                                    </button>
                            {{/buttons}}
                        </div>
                    </div>
                {{/ dropdown }}
                {{^ isdeleted }}  
                    <span class="time"> {{ timecreated }} </span>
                    <span class="user"> {{ username }} </span>
                {{/ isdeleted }}
            </div>
           
            <div class="chat-message-text">
                <div id="chatmessage{{ uuid }}">{{{ displaycontent }}}</div>
                
                {{#displayhidden}}<span id="taghidden{{uuid}}" class="tag tag-info">{{# str }} hiddenforparticipants, pdfannotator {{/ str }}</span>{{/displayhidden}}

                <form id="edit{{ uuid }}" class="edit-comment-form" style="display:none;">
                    <div class="editor-loader-placeholder-edit-{{ uuid }}"></div>
                    <input id="commentSubmit" class="owner btn btn-primary mb-1" type="submit" value="{{# str }} editButton, pdfannotator {{/ str }}">
                    <input id="commentCancel" class="owner btn btn-secondary mb-1" type="reset" value="{{# str }} cancelButton, pdfannotator {{/ str }}" >
                </form>
         
            </div>
                {{^ isdeleted }}
                    <em class="edited">
                        {{# edited }}
                            <div>
                                <span id="timemodified_{{ uuid }}">{{# str }} editedComment, pdfannotator {{/ str }} {{timemodified}}</span>
                                <span id="modifiedby_{{ uuid }}">{{modifiedby}}</span>
                            </div>
                        {{/ edited }}
                    </em>
                {{/ isdeleted }}
        </div>
    </div>
{{/ comments }}
