<div id="edit_comment_editor_wrapper"> {{! necessary for atto-editor }}
    <textarea id="editarea{{ uuid }}" placeholder="" cols="40" rows="3">{{{ displaycontent }}}</textarea>
    <div class="editor-editcomment-inputs{{ uuid }}"></div>
    <div class="editor-loader-placeholder"></div>
</div>