

<div id='nohiddenentries'>{{nohiddenentries}}</div>

{{#annotators_with_hiddenentries}}

    <div class="panel-group">

        <div class="panel panel-default" id="hiddenentrypanel_{{annotatorid}}">

            <div class="panel-heading">
                <h4 class="panel-title">
                        <a id="hiddenentrylink_{{annotatorid}}" data-toggle="collapse" class="annotator hiddenentrylink" data-parent="#accordion1" href="#collapse4_{{annotatorid}}">{{annotatorname}} 
                            <span id="hiddenentrycount{{annotatorid}}">({{hiddenentrycount}})</span> <img id="dropdown4_{{annotatorid}}" class="dropdown_image" src={{{pixcollapsed}}}>
                        </a>
                </h4>
            </div>

            <div id="collapse4_{{annotatorid}}" class="panel-collapse collapse">

                <ul class="list-group zebra">

                    {{#hiddenentries}}

                        <li class="list-group-item r" id="hiddenentry{{hiddenentrysid}}">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-lg-10 more"><strong>{{#shortentext}} 30, {{hiddenentrysubjectline}}{{/shortentext}}</strong><br>{{hiddenentry}}</span>
                                    <div class="col-lg-2">
                                        <span class="delete" id="delete{{hiddenentrysid}}" data-annotator="{{annotatorid}}">
                                            <img id="linkicon" title="{{#str}}deletereport, pdfannotator{{/str}}" src={{{pixdelete}}}>
                                        </span>
                                        <span class="einblenden" id="{{hiddenentrysid}}" data-annotator="{{annotatorid}}">
                                            <img id="linkicon" title="{{#str}}displayagain, pdfannotator{{/str}}" src={{{pixdisplay}}}>
                                        </span>
                                        <span>
                                            <a href='{{{link}}}'>
                                                <img id="linkicon" title="{{#str}}gotocomment, pdfannotator{{/str}}" src={{{pixgotox}}}>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    {{/hiddenentries}}

                </ul>
            </div>

        </div>

    </div>

{{/annotators_with_hiddenentries}}

        

