
<div id='nomyposts'>{{nomyposts}}</div>

{{#annotators_with_posts_by_this_user}}

    <div class="panel-group">

        <div class="panel panel-default" id="postpanel_{{annotatorid}}">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a id="postlink_{{annotatorid}}" data-toggle="collapse" class="annotator postlink" data-parent="#accordion2" href="#collapse3_{{annotatorid}}">
                        {{annotatorname}} ({{postcount}}) <img id="dropdown3_{{annotatorid}}" class="dropdown_image" src={{{pixcollapsed}}}>
                    </a>
                </h4>
            </div>

            <div id="collapse3_{{annotatorid}}" class="panel-collapse collapse" aria-expanded="false">
                <ul class="list-group zebra">

                    {{#posts}}

                        <li class="list-group-item q">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-lg-10 more">{{content}}</span>
                                    <span class="col-lg-2">
                                        <a href='{{{link}}}'>
                                            <img id="linkicon" title="{{#str}}gotoquestion, pdfannotator{{/str}}" src={{{pixgotox}}}>
                                        </a>
                                    </span><!--<img src='/moodle/pix/t/collapsed.png'>-->
                                </div>
                            </div>
                        </li>

                    {{/posts}}

                </ul>
            </div>

        </div>

    </div>

{{/annotators_with_posts_by_this_user}}

