

<div id='noanswers'>{{noanswers}}</div>

{{#annotators_with_answers}}

    <div class="panel-group">

        <div class="panel panel-default" id="answerpanel_{{annotatorid}}">

            <div class="panel-heading">
                <h4 class="panel-title">
                        <a id="answerlink_{{annotatorid}}" data-toggle="collapse" class="annotator answerlink" data-parent="#accordion1" href="#collapse1_{{annotatorid}}">{{annotatorname}} 
                        <span id="answercount{{annotatorid}}">({{answercount}})</span><img id="dropdown1_{{annotatorid}}" class="dropdown_image" src={{{pixcollapsed}}}></a>
                </h4>
            </div>

            <div id="collapse1_{{annotatorid}}" class="panel-collapse collapse">

                <ul class="list-group zebra">

                    {{#answers}}

                        <li class="list-group-item r" id="answer{{answerid}}">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-lg-10"><strong>{{#shortentext}} 30, {{answeredquestion}}{{/shortentext}}</strong><br><span class="more">{{{answer}}}</span></span>
                                    <div class="col-lg-2">                                       
                                        <span class="unsubscribe" id="unsubscribe{{annoid}}" data-annotator="{{annotatorid}}">
                                             <i id="linkicon" class="icon fa fa-bell-slash fa-fw" title="{{#str}}unsubscribeQuestion, pdfannotator{{/str}}"></i>                                          
                                        </span>
                                        <span class="hideanswer" id="{{answerid}}" data-annotator="{{annotatorid}}">
                                            <img id="linkicon" title="{{#str}}hideanswerforever, pdfannotator{{/str}}" src={{{pixhide}}}>
                                        </span> <!--<img src='/moodle/pix/e/accessibility_checker.png'>-->
                                        <span>
                                            <a href='{{{link}}}'>
                                                <img id="linkicon" title="{{#str}}gotoquestion, pdfannotator{{/str}}" src={{{pixgotox}}}>
                                            </a>
                                        </span> <!--<img src={{{pixcollapsed}}}>-->
                                    </div>
                                </div>
                            </div>
                        </li>

                    {{/answers}}

                </ul>
            </div>

        </div>

    </div>

{{/annotators_with_answers}}
